# node modules source
node_modules

# any sqlite database
*.sqlite

# TS compiler output
dist

# Ignore some dev configuration
appconfig.dev.json

.vscode/*

# ignore debug folder
cert

#ignore production logs
logs

# ignore hidden files
.*