extends layout.pug 

block header
    link(rel="stylesheet", href=model.assetPrefix + "css/admin.css")

block content
    h2.h2= model.loginTitle
    form(action="login", method="post").form
        input(id="api_token" name="token" type="password" placeholder= model.loginTokenName required).input.center-self
        input(type="submit" value= model.loginSubmitBtnText style="margin-top: 10px;").center.button
