extends layout.pug 

block content
    h2.h2.center= model.errorText
    p.p.center= model.errorTitle + " - " + model.statusCode 
    p.p.center= model.errorDescription
    if model.logsLink
        p.p.center= "Your error ID: " + model.errorId
        a(href= model.logsLink style="font-size: 1.1em;").center.button= "Logs"
        