extends layout.pug 

block content
    h2.h2.center= errorText
    p.p.center= errorTitle + " - " + statusCode 
    p.p.center= errorDescription
    if logsLink
        a(href= logsLink style="font-size: 1.1em;").center.button= "Error Logs"