extends layout.pug 

block content 
    h2.h2.center= model.mainText 
    if model.authLink 
        p.p.center= model.description
        a(href= model.authLink style="font-size: 1.1em;").center.button= model.authBtnText 
    else 
        p.p.center= model.description