extends layout.pug 

block header 
    link(rel='stylesheet' href='/css/processing.css')

block content
    .data-container 
        h1= 'Data Processing'
        p.data-text 
            | So, you're here because of you are not a developer to look through sources, or you don't want to do it.<br>
            | I'll try to explain how this application handles your private data.<br><br>
            | In the beginning when you have followed auth link provided by some service, which is using this authentication service you're being redirected to discord authorization server, where you're decided whether to authorize or not, when you're pressing 'Authorize' button you are being redirected to /login/cb route with code provided by discord, so this application can handle it and get your oauth2 token(this is not the same as account token), this token serving as auth token for this application, so it can retrieve data you allowed on authorization discord page from discord servers, this application asks for identify, guilds and guilds.members.read scopes, you can look at all rights we have with them on Discord developer page. So, that's all, your tokens are being stored in database whether postgres or sqlite, we don't use any encryption, because I think this is unnecessary. Rights we have over your account are not so big, this application cannot change anything on your account, scopes we ask provides only <b>reading</b> your information.
            