doctype html
html 
    head 
        title= 'TypeAuthd | ' + title
        link(rel='stylesheet' href='/css/style.css')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        block header
    body
        h1.h1.title= "TypeAuthD" 
        .content 
            block content 
        footer 
            .info-btns 
                a(href="#git").button.layout-btn.mra= "GitHub"
                p.copyright.p= "Copyright 2024 JerryImMouse"
                a(href="#license").button.layout-btn.mla= "AGPL 3.0"
        block scripts
