extends layout.pug 

block content 
    h2.h2.center= auth_required 
    if authLink 
        p.p.center= auth_required_details
        a(href= authLink style="font-size: 1.1em;").center.button= auth_btn 
    else 
        p.p.center= auth_required_details