.error-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.err-title {
    color: white;
    text-align: center;
}

.err-desc {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
}

.info-container {
    height: 39%;
}