.info-container {
    height: 20%;
}

.success-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.success-cont h1 {
    color: white;
    text-align: center;
}

.success-cont p {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
}